@font-face {
  font-family: 'fugu-font';
  src:
    url('fonts/fugu-font.ttf?7xns7u') format('truetype'),
    url('fonts/fugu-font.woff?7xns7u') format('woff'),
    url('fonts/fugu-font.svg?7xns7u#fugu-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fugu-font-"], [class*=" fugu-font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fugu-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fugu-font-bag:before {
  content: "\e91a";
}
.fugu-font-videocam:before {
  content: "\e915";
}
.fugu-font-info-outline:before {
  content: "\e912";
}
.fugu-font-info:before {
  content: "\e913";
}
.fugu-font-filter-list:before {
  content: "\e90d";
}
.fugu-font-location:before {
  content: "\e90a";
}
.fugu-font-tagged:before {
  content: "\e90e";
}
.fugu-font-users:before {
  content: "\e90b";
}
.fugu-font-menu:before {
  content: "\e906";
}
.fugu-font-heart-outline:before {
  content: "\e902";
}
.fugu-font-search:before {
  content: "\e903";
}
.fugu-font-cart:before {
  content: "\e904";
}
.fugu-font-single-user:before {
  content: "\e905";
}
.fugu-font-eye:before {
  content: "\e000";
}
.fugu-font-search-alt:before {
  content: "\e036";
}
.fugu-font-head:before {
  content: "\e074";
}
.fugu-font-markunread:before {
  content: "\e159";
}
.fugu-font-cart-filled:before {
  content: "\e8cc";
}
.fugu-font-refresh:before {
  content: "\e5d5";
}
.fugu-font-replay:before {
  content: "\e042";
}
.fugu-font-viber:before {
  content: "\e917";
}
.fugu-font-facebook-messenger:before {
  content: "\e918";
}
.fugu-font-x-twitter:before {
  content: "\e916";
}
.fugu-font-strava:before {
  content: "\e911";
}
.fugu-font-tiktok:before {
  content: "\e910";
}
.fugu-font-ebay:before {
  content: "\e90c";
}
.fugu-font-line-app:before {
  content: "\e901";
}
.fugu-font-angle-thin-left:before {
  content: "\e600";
}
.fugu-font-angle-thin-right:before {
  content: "\e601";
}
.fugu-font-play:before {
  content: "\e052";
}
.fugu-font-speech-bubble:before {
  content: "\e076";
}
.fugu-font-arrow-left:before {
  content: "\e094";
}
.fugu-font-arrow-right:before {
  content: "\e095";
}
.fugu-font-arrow-up:before {
  content: "\e096";
}
.fugu-font-arrow-down:before {
  content: "\e097";
}
.fugu-font-ban:before {
  content: "\e107";
}
.fugu-font-maximize:before {
  content: "\e112";
}
.fugu-font-minimize:before {
  content: "\e113";
}
.fugu-font-plus:before {
  content: "\e114";
}
.fugu-font-minus:before {
  content: "\e115";
}
.fugu-font-check-alt:before {
  content: "\e116";
}
.fugu-font-close2:before {
  content: "\e117";
}
.fugu-font-inbox:before {
  content: "\e122";
}
.fugu-font-messenger:before {
  content: "\e602";
}
.fugu-font-done:before {
  content: "\e603";
}
.fugu-font-textsms:before {
  content: "\e604";
}
.fugu-font-star:before {
  content: "\e605";
}
.fugu-font-star-small:before {
  content: "\e606";
}
.fugu-font-thumb-down:before {
  content: "\e607";
}
.fugu-font-thumb-up:before {
  content: "\e608";
}
.fugu-font-plus-small:before {
  content: "\e609";
}
.fugu-font-arrow-back:before {
  content: "\e60b";
}
.fugu-font-chevron-left:before {
  content: "\e60c";
}
.fugu-font-chevron-right:before {
  content: "\e60d";
}
.fugu-font-arrow-forward:before {
  content: "\e60e";
}
.fugu-font-check:before {
  content: "\e60f";
}
.fugu-font-close:before {
  content: "\e610";
}
.fugu-font-chevron-up:before {
  content: "\e611";
}
.fugu-font-chevron-down:before {
  content: "\e612";
}
.fugu-font-arrow-drop-down:before {
  content: "\e613";
}
.fugu-font-arrow-drop-up:before {
  content: "\e614";
}
.fugu-font-media-play:before {
  content: "\e615";
}
.fugu-font-remove:before {
  content: "\e616";
}
.fugu-font-more-horiz:before {
  content: "\e617";
}
.fugu-font-more-vert:before {
  content: "\e619";
}
.fugu-font-get-app:before {
  content: "\e61a";
}
.fugu-font-vertical-align-bottom:before {
  content: "\e61b";
}
.fugu-font-cloud-download:before {
  content: "\e61c";
}
.fugu-font-visibility:before {
  content: "\e61d";
}
.fugu-font-lens:before {
  content: "\e61f";
}
.fugu-font-filter-hdr:before {
  content: "\e620";
}
.fugu-font-cloud:before {
  content: "\e621";
}
.fugu-font-cloud-done:before {
  content: "\e622";
}
.fugu-font-cloud-off:before {
  content: "\e623";
}
.fugu-font-cloud-queue:before {
  content: "\e624";
}
.fugu-font-cloud-upload:before {
  content: "\e625";
}
.fugu-font-heart:before {
  content: "\f004";
}
.fugu-font-check-bold:before {
  content: "\f00c";
}
.fugu-font-close-bold:before {
  content: "\f00d";
}
.fugu-font-play-filled:before {
  content: "\f04b";
}
.fugu-font-chevron-left-bold:before {
  content: "\f053";
}
.fugu-font-chevron-right-bold:before {
  content: "\f054";
}
.fugu-font-expand:before {
  content: "\f065";
}
.fugu-font-compress:before {
  content: "\f066";
}
.fugu-font-plus-bold:before {
  content: "\f067";
}
.fugu-font-minus-bold:before {
  content: "\f068";
}
.fugu-font-chevron-up-bold:before {
  content: "\f077";
}
.fugu-font-chevron-down-bold:before {
  content: "\f078";
}
.fugu-font-heart-o:before {
  content: "\f08a";
}
.fugu-font-twitter:before {
  content: "\f099";
}
.fugu-font-facebook:before {
  content: "\f09a";
}
.fugu-font-pinterest:before {
  content: "\f0d2";
}
.fugu-font-caret-down:before {
  content: "\f0d7";
}
.fugu-font-caret-up:before {
  content: "\f0d8";
}
.fugu-font-caret-left:before {
  content: "\f0d9";
}
.fugu-font-caret-right:before {
  content: "\f0da";
}
.fugu-font-linkedin:before {
  content: "\f0e1";
}
.fugu-font-angle-double-up:before {
  content: "\f102";
}
.fugu-font-angle-double-down:before {
  content: "\f103";
}
.fugu-font-angle-left:before {
  content: "\f104";
}
.fugu-font-angle-right:before {
  content: "\f105";
}
.fugu-font-angle-up:before {
  content: "\f106";
}
.fugu-font-angle-down:before {
  content: "\f107";
}
.fugu-font-circle:before {
  content: "\f111";
}
.fugu-font-maxcdn:before {
  content: "\f136";
}
.fugu-font-rss-square:before {
  content: "\f143";
}
.fugu-font-youtube:before {
  content: "\f167";
}
.fugu-font-xing:before {
  content: "\f168";
}
.fugu-font-instagram-old:before {
  content: "\f16d";
}
.fugu-font-tumblr:before {
  content: "\f173";
}
.fugu-font-dribbble:before {
  content: "\f17d";
}
.fugu-font-skype:before {
  content: "\f17e";
}
.fugu-font-vimeo-square:before {
  content: "\f194";
}
.fugu-font-digg:before {
  content: "\f1a6";
}
.fugu-font-behance:before {
  content: "\f1b4";
}
.fugu-font-twitch:before {
  content: "\e919";
}
.fugu-font-video-camera:before {
  content: "\e914";
}
.fugu-font-etsy:before {
  content: "\e90f";
}
.fugu-font-tag:before {
  content: "\f02b";
}
.fugu-font-map-marker:before {
  content: "\f041";
}
.fugu-font-ticket:before {
  content: "\f145";
}
.fugu-font-spotify:before {
  content: "\e909";
}
.fugu-font-mixcloud:before {
  content: "\e907";
}
.fugu-font-odnoklassniki:before {
  content: "\e908";
}
.fugu-font-telegram:before {
  content: "\e900";
}
.fugu-font-repeat:before {
  content: "\f01e";
}
.fugu-font-rotate-right:before {
  content: "\f01e";
}
.fugu-font-credit-card:before {
  content: "\f09d";
}
.fugu-font-envelope:before {
  content: "\f0e0";
}
.fugu-font-bitcoin:before {
  content: "\f15a";
}
.fugu-font-btc:before {
  content: "\f15a";
}
.fugu-font-instagram:before {
  content: "\f16f";
}
.fugu-font-soundcloud:before {
  content: "\f1be";
}
.fugu-font-wechat:before {
  content: "\f1d7";
}
.fugu-font-weixin:before {
  content: "\f1d7";
}
.fugu-font-paypal:before {
  content: "\f1ed";
}
.fugu-font-google-wallet:before {
  content: "\f1ee";
}
.fugu-font-cc-visa:before {
  content: "\f1f0";
}
.fugu-font-cc-mastercard:before {
  content: "\f1f1";
}
.fugu-font-cc-discover:before {
  content: "\f1f2";
}
.fugu-font-cc-amex:before {
  content: "\f1f3";
}
.fugu-font-cc-paypal:before {
  content: "\f1f4";
}
.fugu-font-cc-stripe:before {
  content: "\f1f5";
}
.fugu-font-pinterest-p:before {
  content: "\f231";
}
.fugu-font-whatsapp:before {
  content: "\f232";
}
.fugu-font-cc-jcb:before {
  content: "\f24b";
}
.fugu-font-cc-diners-club:before {
  content: "\f24c";
}
.fugu-font-amazon:before {
  content: "\f270";
}
.fugu-font-credit-card-alt:before {
  content: "\f283";
}
.fugu-font-snapchat:before {
  content: "\f2ab";
}
.fugu-font-snapchat-ghost:before {
  content: "\f2ac";
}
.fugu-font-snapchat-square:before {
  content: "\f2ad";
}
.fugu-font-user:before {
  content: "\f007";
}
.fugu-font-shopping-cart:before {
  content: "\f07a";
}
.fugu-font-html5:before {
  content: "\f13b";
}
.fugu-font-css3:before {
  content: "\f13c";
}
.fugu-font-flickr:before {
  content: "\f16e";
}
.fugu-font-vk:before {
  content: "\f189";
}
.fugu-font-weibo:before {
  content: "\f18a";
}
.fugu-font-reddit:before {
  content: "\f1a1";
}
.fugu-font-delicious:before {
  content: "\f1a5";
}
.fugu-font-deviantart:before {
  content: "\f1bd";
}
